@model HRSystem.Models.PermissionRequest
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group col-md-6">
        @*<div>
           Request Date
        </div>
        <div>
          @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
        </div>
        <br />*@
        <div>
            Permission Type
        </div>
        <div>
           @Html.DropDownList("PermissionTypeNo", null,"Select", new { @class = "form-control" })
            
        </div>
        <br />
        <div>
            Employee Name
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            Position
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        <div>
            Period:
        </div>
        <div>
            From
        </div>
        <br />
        <div class="row">
            <label>Hours</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
            </div>
            <label>Minutes</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromMinutes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            To
        </div>
        <br />
        <div class="row">
            <label>Hours</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })
            </div>
            <label>Minutes</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeToMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToMinutes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            Permission Date
        </div>
        <div>
            @Html.EditorFor(model => model.PermissionDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PermissionDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            Note
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
               
                <input type="submit" value="Send" class="btn2" />
                <button class="btn-Back"><a href="@Url.Action("")">Back</a></button>
</div>
        </div>
    </div>
}