@model HRSystem.Models.PermissionRequest
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.NubiHR.CreatePermissionRequest;
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}

<h2>@Resources.NubiHR.CreatePermissionRequest</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group col-md-6">
        @*<div>
           Request Date
        </div>
        <div>
          @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
        </div>
        <br />*@
        <div>
            @Resources.NubiHR.EmployeeName
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Position
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.PermissionType
        </div>
        <div>
            @Html.DropDownList("PermissionTypeNo", null, "Select", new { @class = "form-control" })

        </div>
        <br />
        <div>
            @Resources.NubiHR.PermissionDate
        </div>

        <div class="input-group mb-4">
            @Html.EditorFor(model => model.PermissionDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            <div class="input-group-append">
                <span class="fa fa-calendar input-group-text start_date_calendar" aria-hidden="true"></span>
            </div>
            @Html.Hidden("PerDateAr")

        </div>
        @Html.ValidationMessageFor(model => model.PermissionDate, "", new { @class = "text-danger" })
        <br />
        <br />
        <div>
            @Resources.NubiHR.Period:
        </div>
        <div>
            @Resources.NubiHR.TimeFrom
        </div>
        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromMinutes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @Resources.NubiHR.TimeTo
        </div>
        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4" id="TimeTo" style="color: #de340d">
                @*@Html.EditorFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })*@
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4" id="TimeToMinute" style="color: #de340d">

            </div>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Notes
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                @if (ViewBag.per)
                {
                    <input type="submit" value=@Resources.NubiHR.Send class="btn2" />
                }
                else
                {
                    <input type="submit" value=@Resources.NubiHR.Send class="btn2disabled" disabled />
                }
                
   
            </div>
            <br />
            <div>
                <a href="@Url.Action("Index")" class="btn-Back" style="color:white; text-decoration: none;">@Resources.NubiHR.Back</a>
            </div>
        </div>
    </div>
}

<script>
    $("#TimeFromHours").change(function () {
        var date = new Date($("#PermissionDate").val());
        var hours = parseInt($("#TimeFromHours").val());
        //$("#TimeToMinute") = $("#TimeFromMinutes").val();
        var minute = parseInt($("#TimeFromMinutes").val());

        $("#TimeToMinute").show();
        $("#TimeToMinute").text($("#TimeFromMinutes").val());

        var inchours = hours + 4;
        if (inchours >= 16)
        {
            $("#TimeTo").text("Rest of the day");
            $("#TimeToMinute").hide();
        }
        else if (inchours <= 16 && minute === "")
        {
            $("#TimeTo").text(hours + 4);
            $("#TimeToMinute").hide();
        }
            

       else 
            $("#TimeTo").text(hours + 4);
        $("#TimeFromMinutes").change(function () {
            $("#TimeToMinute").show();
            $("#TimeToMinute").text($("#TimeFromMinutes").val());
            //$("#TimeToMinute").text(minute);
        })
         

        //else
        //    $("#TimeTo").text(hours + 4);
        //    $("#TimeToMinute").text(minute);


        //var timefrom = new Date(date.getFullYear, date.getMonth, date.getDay, $("#TimeFromHours").val(), $("#TimeFromMinutes").val());
        //var hours = date.getHours();
        //var incrHours = hours + 4;
        //var timeto = timefrom.setHours(timefrom.getHours() + 4);

        //$("#TimeTo").text(timefrom.setHours(timefrom.getHours() + 4));

        //var date1 = new Date();
        //date1.setHours(date1.getHours() + 5);

    })

    $("#PermissionDate").change(function () {
        $("#PerDateAr").val($("#PermissionDate").val());
    })
</script>