@model HRSystem.Models.PermissionRequest
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.NubiHR.Details;
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}

<h2>@Resources.NubiHR.Details</h2>



<div class="form-group">
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.EmployeeName
        </label>
        <div class="col-md-6">
            @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Position
        </label>
        <div class="col-md-6">
            @helperx.GetUserRole(User.Identity.GetUserId())
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.RequestDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.RequestDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.PermissionDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.PermissionDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.PermissionType
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.PermissionType.Type)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.TimeFrom
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.TimeFromHours)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            Time To
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.TimeToHours)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Note
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.Note)
        </div>
    </div>
</div>
