@model HRSystem.Models.PermissionRequest
@using  Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.NubiHR.Edit;
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
}
<h2>Edit</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    
    <div class="form-group col-md-6">
        <div>
            @Resources.NubiHR.EmployeeName
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Position
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.PermissionType
        </div>
        <div>
            @Html.DropDownList("PermissionTypeNo", null,"Select", new { @class = "form-control" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.Period:
        </div>
        <div>
            @Resources.NubiHR.TimeFrom
        </div>

        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeFromMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromMinutes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @Resources.NubiHR.TimeTo
        </div>
        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TimeToMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToMinutes, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div>
            @Html.EditorFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.TimeTo
        </div>
        <div>
            @Html.EditorFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })
        </div>*@
        <br />
        <div>
            @Resources.NubiHR.PermissionDate
        </div>
        <div>
            @Html.EditorFor(model => model.PermissionDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PermissionDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.Note
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value=@Resources.NubiHR.Send class="btn2" />
                <button class="btn-Back"><a href="@Url.Action("PermissionRequest","Index")">@Resources.NubiHR.Back</a></button>
            </div>
        </div>
    </div>
}
