@model HRSystem.Models.PermissionRequest
@using  Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.NubiHR.Edit;
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    var IsArabic = Request.Cookies["culture"].Value == "ar" ? true : false;
}
<h2>@Resources.NubiHR.EditPermissionRequest</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    
    <div class="form-group col-md-6">
        <div>
            @Resources.NubiHR.EmployeeName:
        </div>
        <div>
            <label> @Html.DisplayFor(modelItem => Model.Employee.FirstName) @Html.DisplayFor(modelItem => Model.Employee.LastName)</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Position:
        </div>
        <div>
            @if (IsArabic)
            {
                <label> @Html.DisplayFor(modelItem => Model.Employee.Position.PositionNameAr)</label>
            }
            else
            {
                <label> @Html.DisplayFor(modelItem => Model.Employee.Position.PositionNameEn)</label>
            }
            
        </div>
        <br />
        <div>
            @Resources.NubiHR.PermissionType:
        </div>
        <div>
            @Html.DisplayFor(model => model.PermissionType.Type, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.DropDownList("PermissionTypeNo", null,"Select", new { @class = "form-control" })*@
        </div>
        <br />
        <div>
            @Resources.NubiHR.Period:
        </div>
        <div>
            @Resources.NubiHR.TimeFrom
        </div>

        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.TimeFromMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeFromMinutes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @Resources.NubiHR.TimeTo
        </div>
        <br />
        <div class="row">
            <label>@Resources.NubiHR.Hour</label>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })
            </div>
            <label>@Resources.NubiHR.Minute</label>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.TimeToMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeToMinutes, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div>
            @Html.EditorFor(model => model.TimeFromHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeFromHours, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.TimeTo
        </div>
        <div>
            @Html.EditorFor(model => model.TimeToHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeToHours, "", new { @class = "text-danger" })
        </div>*@
        <br />
        <div>
            @Resources.NubiHR.PermissionDate:
        </div>
        <div>
            @Html.DisplayFor(model => model.PermissionDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PermissionDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.Notes:
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value=@Resources.NubiHR.Send class="btn2" />
            </div>
            <br />
            <div>
                <a href="@Url.Action("Index")" class="btn-Back" style="color:white; text-decoration: none">@Resources.NubiHR.Back</a>
            </div>
        </div>
    </div>
}
