@model HRSystem.Models.PermissionRequest
@using  Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
}
<h2>Edit</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    
    <div class="form-group col-md-6">
        <div>
            تاريخ الطلب
        </div>
        <div>
            @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            نوع الإذن
        </div>
        <div>
            @Html.DropDownList("PermissionTypeNo", null,"Select", new { @class = "form-control" })
        </div>
        <br />
        <div>
            اسم الموظف
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            الوظيفة
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        <div>
            الفترة:
        </div>
        <div>
            من الساعة
        </div>
        <div>
            @Html.EditorFor(model => model.TimeFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeFrom, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            إلى الساعة
        </div>
        <div>
            @Html.EditorFor(model => model.TimeTo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeTo, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            التاريخ
        </div>
        <div>
            @Html.EditorFor(model => model.PermissionDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PermissionDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            ملاحظة
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value="Send" class="btn2" />
                <button class="btn-Back"><a href="@Url.Action("VacationRequest","Index")">Back</a></button>
            </div>
        </div>
    </div>
}
