@model IEnumerable<HRSystem.Models.PermissionRequest>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "LeaderRequests";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}

<h2>Leader Requests</h2>



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            
            <th>
                Position
            </th>
            
            <th>
                Request Date
            </th>
           
            <th>
                Permission Date
            </th>
            
            <th>
                Permission Type
            </th>
            
            <th>
                Note
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(e => e.LeaderApprovement == false && e.IsRejected == false).ToList())
            {
            <tr>
                <td>
                    @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName
                </td>
                <td>
                    @helperx.GetUserRole(User.Identity.GetUserId())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionType.Type)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @Html.ActionLink("Approve", "LeaderApprove", new { id = item.Id }) |
                    @Html.ActionLink("Reject", "Reject", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "PermissionRequest", new { id = item.Id }, null)
                </td>
               
            </tr>
        }
    </tbody>
</table>
