@model IEnumerable<HRSystem.Models.PermissionRequest>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManagerRequests";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
    var IsArabic = Request.Cookies["culture"].Value == "ar" ? true : false;
}

<h2>@Resources.NubiHR.PermissionRequests</h2>



<table id="assets-data-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Resources.NubiHR.EmployeeName
            </th>
            
            <th>
                @Resources.NubiHR.Position
            </th>
            
            <th>
                @Resources.NubiHR.RequestDate
            </th>
            
            <th>
                @Resources.NubiHR.PermissionDate
            </th>
            
            <th>
                @Resources.NubiHR.PermissionType
            </th>
            
            <th>
                @Resources.NubiHR.Note
            </th>

            <th>
                @Resources.NubiHR.Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(e => e.ManagerApprovement == null && e.LeaderApprovement == true).ToList())
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName + item.Employee.LastName)
                </td>
                @if (IsArabic)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Position.PositionNameAr)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Position.PositionNameEn)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionDate)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionType.Type)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                
                <td>
                    @Html.ActionLink(Resources.NubiHR.Approve, "ManagerApprove", new { id = item.Id }) |
                    @Html.ActionLink(Resources.NubiHR.Reject, "Reject", new { id = item.Id }) |
                    @Html.ActionLink(Resources.NubiHR.Details, "Details", "PermissionRequest", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
