@model IEnumerable<HRSystem.Models.AttendanceSheet>
@{
    ViewBag.Title = Resources.NubiHR.AllAttendanceSheets;
    var i = 1;
}


<br />

<p>
    @Html.ActionLink(Resources.NubiHR.AddNewEmployee, "Create")
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h2 class="panel-title list-panel-title">@Resources.NubiHR.AllEmployees</h2>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered ReportPage" style="width:100%">

                    <thead>
                        <tr>
                            <th>@Resources.NubiHR.NoOfRow </th>
                            <th>@Resources.NubiHR.FunctionalNumber</th>
                            <th>@Resources.NubiHR.EmployeeName</th>
                            <th>@Resources.NubiHR.PunchTime</th>
                            <th>@Resources.NubiHR.WorkState</th>
                            <th>@Resources.NubiHR.NoOfHours</th>
                            <th>@Resources.NubiHR.RemainingHours</th>

                        </tr>
                    </thead>

                    <tbody>
                        @if (Model == null)
                        {
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>@i</td>

                                    <td> @item.Number</td>

                                    <td>@item.Name </td>

                                    <td>@item.PunchTime</td>

                                    <td>@item.WorkState</td>

                                    <td>@item.NoOfHours</td>

                                    <td>@item.RemainingHours</td>
                                </tr>
                                i++;
                            }
                        }
                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


