@model HRSystem.Models.VMAddEmployee
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.NubiHR.EmployeeDetails;
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
    ViewBag.vacations = mngr.totalVacDuration(id: Model.IdEmployee);
    ViewBag.remaining = mngr.TotalVacationDays(id: Model.IdEmployee);
    var count = 1;
    var IsArabic = Request.Cookies["culture"].Value == "ar" ? true : false ;
}

<div>
    <p>
        @Html.ActionLink(Resources.NubiHR.BackTolist, "Index", "Employee")
    </p>
        <p>
            @Html.ActionLink(Resources.NubiHR.Edit, "Edit", new { id = Model.IdEmployee, Employee = Model.FirstName + " " + Model.LastName })
        </p>
       
        
</div>

@Html.HiddenFor(model => Model.IdEmployee, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            @*<div class="panel-heading list-panel-heading">
                <legend class="the-legend">@Resources.NubiHR.EmployeeDetails</legend>
            </div>*@
            <div class="panel-body">
                <div class="form-group">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.NubiHR.EmployeeDetails</legend>
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <tbody>

                                <tr>
                                    <th>
                                        @Resources.NubiHR.FunctionalNumber
                                    </th>
                                    <td>
                                        @Model.FunctionalNumber
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        @Resources.NubiHR.EmployeeName
                                    </th>
                                    <td>
                                        @Model.FirstName @Model.LastName
                                    </td>

                                </tr>


                                <tr>
                                    <th>
                                        @Resources.NubiHR.AspEmail
                                    </th>

                                    @if (@ViewBag.AspEmail != null)
                                    {
                                        <td>
                                            @ViewBag.AspEmail
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@Resources.NubiHR.DidntCreateUserYet</td>
                                    }

                                </tr>



                                <tr>
                                    <th>
                                        @Resources.NubiHR.PersonalEmail
                                    </th>
                                    <td>
                                        @Model.EmailEmployee
                                    </td>


                                </tr>


                                <tr>
                                    <th>
                                        @Resources.NubiHR.StartDate
                                    </th>
                                    <td>
                                        @Model.StartDate
                                    </td>


                                </tr>

                                <tr>
                                    <th>
                                        @Resources.NubiHR.Address
                                    </th>
                                    <td>
                                        @Model.Address
                                    </td>


                                </tr>



                                <tr>
                                    <th>
                                        @Resources.NubiHR.Mobile
                                    </th>
                                    <td>
                                        @Model.Mobile1
                                    </td>


                                </tr>



                                <tr>
                                    <th>
                                        @Resources.NubiHR.Mobile2
                                    </th>
                                    <td>
                                        @Model.Mobile2
                                    </td>


                                </tr>



                                <tr>
                                    <th>
                                        @Resources.NubiHR.Department
                                    </th>

                                    <td>
                                        @ViewBag.dept
                                    </td>


                                </tr>


                                <tr>
                                    <th>
                                        @Resources.NubiHR.Position
                                    </th>

                                    <td>
                                        @ViewBag.pos
                                    </td>


                                </tr>


                                <tr>
                                    <th>
                                        @Resources.NubiHR.Salary
                                    </th>
                                    <td>
                                        @Model.BasicSalary
                                    </td>
                                </tr>


                                <tr>
                                    <th>
                                        @Resources.NubiHR.Bonus
                                    </th>
                                    <td>
                                        @Model.Bonus
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        @Resources.NubiHR.VacationsTaken
                                    </th>
                                    <td>
                                        @ViewBag.vacations
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        @Resources.NubiHR.VacationsRemaining
                                    </th>
                                    <td>
                                        @ViewBag.remaining
                                    </td>
                                </tr>


                                @if (Model.AccountNumber != null)
                                {
                                    <tr>
                                        <th>
                                            @Resources.NubiHR.AccountNumber
                                        </th>
                                        <td>
                                            @Model.AccountNumber
                                        </td>
                                    </tr>



                                    <tr>
                                        <th>
                                            @Resources.NubiHR.BankName
                                        </th>
                                        <td>
                                            @Model.BankName
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>
                                            @Resources.NubiHR.BankBranch
                                        </th>
                                        <td>
                                            @Model.BankBranch
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </fieldset>
                </div>
               
                <div class="form-group">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.NubiHR.EmergencyContact</legend>
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <tbody>
                                <tr>
                                    <th> @Resources.NubiHR.Name </th>
                                    <th>@Resources.NubiHR.RelationshipType</th>
                                    <th>@Resources.NubiHR.Mobile</th>

                                </tr>
                                @foreach (var Model1 in Model.EmergencyContactList)
                                {
                                    <tr>

                                        <td>@Model1.Name</td>
                                        @if (IsArabic)
                                        {
                                            <td>@Model1.RelationshipType.RelationAr </td>

                                        }
                                        else
                                        {
                                            <td>@Model1.RelationshipType.RelationEn </td>

                                        }

                                        <td>@Model1.Mobile</td>



                                    </tr>

                                }
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                   
                <div class="form-group">

                    <fieldset class="the-fieldset">
                        <legend class="the-legend">@Resources.NubiHR.Attachments</legend>
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <tbody>
                                <tr>
                                    <th> @Resources.NubiHR.Name </th>
                                    <th>@Resources.NubiHR.AttachmentType</th>
                                    <th>@Resources.NubiHR.File</th>

                                </tr>
                                @foreach (var Model1 in Model.AttachmentList)
                                {
                                    <tr>
                                        <td>
                                            @Model1.Name

                                        </td>
                                        <td>
                                            @if (IsArabic)
                                            {
                                                @Model1.TypesOfAttachment.AttachmentTypeAr

                                            }
                                            else
                                            {
                                                @Model1.TypesOfAttachment.AttachmentTypeEn

                                            }
                                        </td>

                                        <td>
                                            <a target="_blank/" href="~/Attachments/@Model1.Name">
                                              @Resources.NubiHR.Download @Resources.NubiHR.File ( @Model1.Name )
                                            </a>
                                            <input id='@Model1.Name @count' type="hidden" value="@Model1.Path" />
                                          
                                        </td>

                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </fieldset>

                </div>

                </div>
        </div>
    </div>
</div>



@if (ViewBag.ForgetPassword != null)
{
    <script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Message");
                swal(`Hello Admin`,`@ViewBag.Message`,`success`);
            };
    </script>
}

<div>
    @Html.ActionLink(Resources.NubiHR.BackTolist, "Index", "Employee")
</div>

