@model IEnumerable<HRSystem.Models.Employee>
@{
    ViewBag.Title = Resources.NubiHR.AllEmployees;
}


<br />

<p>
    @Html.ActionLink(Resources.NubiHR.AddNewEmployee, "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h2 class="panel-title list-panel-title">@Resources.NubiHR.AllEmployees</h2>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    
                    <thead>
                        <tr>
                            <th>@Resources.NubiHR.EmployeeName </th>
                            @*<th>@Resources.NubiHR.LastName</th>*@
                            @*<th>@Resources.NubiHR.LastName</th>*@
                            <th>@Resources.NubiHR.StartDate</th>
                            <th>@Resources.NubiHR.Actions</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        
                        @foreach (var item in Model.Where(y => y.IsDeleted == false ))
                        {
                            <tr>
                                <td>
                                    @item.FirstName  @item.LastName
                                </td>

                                @*<td>
                                    @item.LastName
                                </td>*@

                                <td>
                                    @item.StartDate
                                </td>

                                <td>
                                    @Html.ActionLink(Resources.NubiHR.Edit, "Edit", new { id = item.Id, Employee = item.FirstName + " " + item.LastName }) |
                                    @Html.ActionLink(Resources.NubiHR.Details, "Details", new { id = item.Id }, null) |
                                    @if(item.AspNetUsers.Count() > 0)
                                    {
                                        @Html.ActionLink(Resources.NubiHR.ResetPassword, "ForgetPassword", new { id = item.Id }, new { @class = "editCourseModal", @data_target = "editCourseModal", id = item.Id, data_parameter = item.Id })

                                    }
                                    else
                                    {
                                        @Resources.NubiHR.DidntCreateUserYet
                                    }
                                    |
                                    @*@using (Html.BeginForm("DeleteEmergencyContact", "Employee", new { id = item.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                    @Html.HiddenFor(model => item.Id)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <input type="submit" value="@Resources.NubiHR.Delete" class="btn btn-danger" />
                                    <br /><br />
                                    }*@
                                    @Html.ActionLink(Resources.NubiHR.Delete, "DeleteEmployee", new { id = item.Id }, new { htmlAttributes = new { @style = "color: red;" } })
                                </td>
                            </tr>
                            
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resources.NubiHR.ResetPassword</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                
@using (Html.BeginForm("ForgetPassword", "Employee"@*, new { id =  }*@, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input id="HiddenID" name="HiddenID" hidden />

        @*<div class="col-md-8">*@
            <div class="form-group">

                @Html.Label(Resources.NubiHR.Password, htmlAttributes: new { @class = "control-label" })
                @*@Html.Password("Password", new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="password" name="Password" id="Password" class="form-control"/>
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })


            </div>
        @*</div>*@
  
      @*<div class="col-md-8">*@
          <div class="form-group">
              @Html.Label(Resources.NubiHR.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
              @*@Html.Password("ConfirmPassword", new { htmlAttributes = new { @class = "form-control" } })*@
              <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
              @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })

          </div>
      @*</div>*@

       


    </div>
            <div class="modal-footer col-md-7" style="border-top: 0px solid #e9ecef;">
                
                <input type="submit" value="@Resources.NubiHR.Update" class="btn btn-default" />
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                
            </div>
}
        </div>
    </div>
</div>



@if (ViewBag.MessageException != null)
{
    <script type="text/javascript">
            window.onload = function () {
      swal(`@Resources.NubiHR.Warning`,`@ViewBag.MessageException`,`error`);
                                           };
    </script>


}

<script>
  $(function () {
    $('.editCourseModal').on("click", function (e) {
        e.preventDefault();
        var IdOfActionLink = e.target.id;
        var xx = document.getElementById('HiddenID');

        xx.value = IdOfActionLink;

        //perform the url load  then
        $('#exampleModal').modal({
                keyboard : true,
            }, 'show');
        return false;
    })
})

</script>