@{ 
    string Lang = Request.Cookies["culture"].Value;
    var IsArabic = Request.Cookies["culture"].Value == "ar" ? true : false;
    
}
<!DOCTYPE html>
<html dir=" @(IsArabic? "rtl" : "ltr" )">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/image/nubi.png" />
    <title>@ViewBag.Title - @Resources.NubiHR.Nubi</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    @*<script src="~/Content/js/bootstrap.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {

            $(window).on("load resize", function () {
                //alert (window.innerHeight);
                $(".bg").css("height", window.innerHeight);
            });
        });
    </script>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            /*margin: auto;*/
        }
    </style>
</head>
<body style="height:auto;overflow-y: hidden;">
    
    <div class="bg">
        <div class="overlay">
            @if (@TempData["check"] != null)
            {
                <div class="alert alert-danger text-center">
                    <strong> @TempData["check"] </strong>
                </div>
            }


            @if (@TempData["chec"] != null)
            {

                <div class="alert alert-success text-center">
                    <strong> @TempData["chec"] </strong>
                </div>


            }
            <div class="container">
                <div class="container">
                    
                    @RenderBody()
                </div>
                <h2 style="opacity:-2">@ViewBag.Title</h2>
                <main class="page-content">
                    <footer class="col-sm-12">
                        <p>&copy; @DateTime.Now.Year - Powered by Nubi IT Service</p>
                    </footer>
                </main>
                </div>
            </div>
        </div>
   
</body>
    </html>