@model HRSystem.Models.VacationRequest
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}
<h2>Create</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
   
    <div class="form-group col-md-6">
        <div>
            @Resources.NubiHR.EmployeeName
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Position
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.RequestDate
        </div>
        <div>
            @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
        </div>
        <br />
        
            <div>
                @Resources.NubiHR.VacationType
            </div>
            <div>
                @Html.DropDownList("VacationTypeNo", null, "Select", new { @class = "form-control" })

            </div>
        
        <br />
        <div id="MedicalReport">
            <div>
                @Resources.NubiHR.MedicalReport
            </div>
            <div>
                @Html.TextBoxFor(model => model.MedicalReport, new { type = "file", @*id = "file4", onchange = "return fileValidation('file4')",*@ htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalReport, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            Please Accept My Vacation Described Above For a Period Of
            @*ارجو الموافقة على منحي الاجازة الموضحة أعلاه لمدة*@ 
        </div>
        <div>
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.From
        </div>
        <div>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.To
        </div>
        <div>
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.ResumeDate
        </div>
        <div>
            @Html.EditorFor(model => model.ResumeDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ResumeDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            My Address During Vacation
        </div>
        <div>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
        وسيكون البديل الموظف
    </div>
    <div>
        @Html.DropDownList("EmpNo", null, "Select", new { @class = "form-control" })
    </div>
            <br/>
        <div>
            @Resources.NubiHR.Note
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value="Send" class="btn2" />
                
                <button class="btn-Back"><a href="@Url.Action("VacationRequest","Index")" >@Resources.NubiHR.Back</a></button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function ()
    {
        $("#MedicalReport").hide();
    }
    )
    $(function () {
        $("#VacationTypeNo").change(function () {
            if ($("#VacationTypeNo").val() == "2") {
                $("#MedicalReport").show();
            }
            else {
                $("#MedicalReport").hide();
            }
        });
    });

    //$(function () {
    //     $("#Type").change(function () {
    //         if ($(this).val() == 'Sick leave') {
    //             $("#MedicalReport").show();
    //         } else {
    //             $("#MedicalReport").hide();
    //         }
    //     });
    // });

    //$(document).ready(function () {
    //    $('#Type').on('change', function () {
    //        if (this.value == 'Sick leave')
    //        //.....................^.......
    //        {
    //            $("#MedicalReport").show();
    //        }
    //        else {
    //            $("#MedicalReport").hide();
    //        }
    //    });
    //});

    //$('#Type').on('change', function () {
    //    $("#MedicalReport").toggle(this.value == 'Sick leave');
    //});
</script>