@model HRSystem.Models.VacationRequest
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
    HRSystem.Manager.RequestManager mngr = new HRSystem.Manager.RequestManager();
}

<h2>@Resources.NubiHR.VacationRequests</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
   
    <div class="form-group col-md-6">
        <div>
            @Resources.NubiHR.EmployeeName
        </div>
        <div>
            <label> @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName</label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.Position
        </div>
        <div>
            <label> @helperx.GetUserRole(User.Identity.GetUserId())</label>
        </div>
        <br />
        
        <label>
            @Resources.NubiHR.VacationType
        </label>
        <div>
            @Html.Hidden("VacationTypeNo")
            
                        @Html.DropDownList("VacationTypeNoMain", new List<SelectListItem>
        {
           new SelectListItem{ Text="select", Value = "" },
           new SelectListItem{ Text="Normal Leave", Value = "1" },
           new SelectListItem{ Text="Sick leave", Value = "2" },
           new SelectListItem{ Text="Accidental leave", Value = "3" },
           new SelectListItem{ Text="Other", Value = "4" },
        }, new { @class = "form-control" })
            @*@Html.DropDownList("VacationTypeNo", null, "Select", new { @class = "form-control" })*@
        </div>
        <br />
        <div id="Other">
            @*@Html.DropDownList("VacationTypeNo", null, "Select", new { @class = "form-control" })*@

            @Html.DropDownList("VacationTypeNoOther", new List<SelectListItem>{
   new SelectListItem{ Text="Father's Death", Value = "5" },
   new SelectListItem{ Text="Mother's Death", Value = "6" },
} , new { @class = "form-control" })

        </div>
        
        <br />
        <div id="MedicalReport">
            <div>
                @Resources.NubiHR.MedicalReport
            </div>
            <div>
                @Html.TextBoxFor(model => model.MedicalReport, new { type = "file", id = "file4", onchange = "return fileValidation('file4')", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalReport, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @Resources.NubiHR.PleaseAcceptMyVacationDescribedAboveForAPeriodOf
        </div>
        <div>
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.From
        </div>
        <div class="start_date input-group mb-4">
            @Html.EditorFor(model => Model.StartDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            <div class="input-group-append">
                <span class="fa fa-calendar input-group-text start_date_calendar" aria-hidden="true"></span>
            </div>
            <br />
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Resources.NubiHR.To
        </div>
        <br />
        <div>
            @*@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control",disabled="disabled" } })*@
            @*<div class="input-group-append">
                <span class="fa fa-calendar input-group-text end_date_calendar" aria-hidden="true"></span>
            </div>*@

            <label id="ED" style="color: #de340d"></label>

            
            @*@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })*@
        </div>
        <br />
        <div>
            @Resources.NubiHR.ResumeDate
        </div>
        <br />
        <div>
            @*@Html.EditorFor(model => model.ResumeDate, new { htmlAttributes = new { @class = "form-control" } })
            <div class="input-group-append">
                <span class="fa fa-calendar input-group-text resume_date_calendar" aria-hidden="true"></span>
            </div>*@
            @*<br />
            @Html.ValidationMessageFor(model => model.ResumeDate, "", new { @class = "text-danger" })*@
            <label id="RD" style="color: #de340d"></label>
        </div>
        <br />
        <div>
            @Resources.NubiHR.MyAddressDuringVacation
        </div>
        <div>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
        @Resources.NubiHR.TheAlternativeEmployeeWillBe
    </div>
    <div>
        @Html.DropDownList("EmpNo", null, "Select", new { @class = "form-control" })
    </div>
            <br/>
        <div>
            @Resources.NubiHR.Note
        </div>
        <div>
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value=@Resources.NubiHR.Send class="btn2" />
                
            </div>
            <br />
            <div>
                <a href="@Url.Action("Index")" class="btn-Back" style="color:white; text-decoration: none;">@Resources.NubiHR.Back</a>
            </div>

        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function ()
    {
        $("#MedicalReport").hide();
    }
    )

    $(document).ready(function () {
        $("#Other").hide();
    }
    )


    $(function () {
        $("#VacationTypeNoOther").change(function () {
        
              
             
                var OtherID = $("#VacationTypeNoOther").val();
                $("#VacationTypeNo").val(OtherID);
            
           
        });
    });

    $(function () {
        $("#VacationTypeNoMain").change(function () {

            $("#VacationTypeNo").val($("#VacationTypeNoMain").val());
            
          
            if ($("#VacationTypeNo").val() == "2") {
                $("#MedicalReport").show();
            }
            else {
                $("#MedicalReport").hide();
            }

            if ($("#VacationTypeNo").val() == "4") {
          
                $("#Other").show();
                var OtherID = $("#VacationTypeNoOther").val();
                $("#VacationTypeNo").val(OtherID);
   
            }
            else {
                $("#Other").hide();
            }
        });
    });
</script>
<script>
            function fileValidation(element) {
                var fileInput = document.getElementById(element);
                var filePath = fileInput.value;
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.pdf)$/i;
                if (!allowedExtensions.exec(filePath)) {
                    swal(`Error!`, '@Resources.NubiHR.UploadAllowedMedicalExtensions', `error`);
                    fileInput.value = '';
                    return false;
                } else {
                    //Image preview
                    if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            document.getElementById('imagePreview').innerHTML = '<img src="' + e.target.result + '"/>';
                        };
                        reader.readAsDataURL(fileInput.files[0]);
                    }
                }
            }

    
            $("#StartDate").change(function () {
                var duration = /*parseInt*/($("#Duration").val());
                var startday = new Date($("#StartDate").val());
                //var ed = new Date();
                //var rd = new Date();
                //ed.setDate(startday.getDate() + duration);
                //rd.setDate(startday.getDate() + duration + 1);
                //$("#ED").text(ed.toDateString());
                //$("#RD").text(rd.toDateString());
                var end_date = moment(startday).add(duration, 'day');
                var last_ed = moment(end_date).subtract(1, 'day');



              
                if (last_ed.format('dddd') == "Friday")
                {
                 
                      last_ed= moment(last_ed).add(1, 'day');
                }
                //else if (last_ed.format('dddd') == "Saturday")
                //{
                //    last_ed=  moment(last_ed).add(1, 'day');
                //}

                var resume_date = moment(last_ed).add(1, 'days');
                if (resume_date.format('dddd D MMM YYYY') == "Friday") {
                    moment(resume_date).add(2, 'day');
                }
                //else if (resume_date.format('dddd D MMM YYYY') == "Saturday") {
                //    moment(resume_date).add(1, 'day');
                //}

                $("#ED").text(last_ed.format('dddd D MMM YYYY'));
                $("#RD").text(resume_date.format('dddd D MMM YYYY'));
            })



</script>

