@model HRSystem.Models.VacationRequest
@{
    ViewBag.Title = "Details";
    var IsArabic = Request.Cookies["culture"].Value == "ar" ? true : false;
}


<h2>@Resources.NubiHR.Details</h2>


   <div class="form-group">
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.EmployeeName
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.Employee.FirstName)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Position
        </label>
        <div class="col-md-6">
            @if (IsArabic)
            {
                @Html.DisplayFor(modelItem => Model.Employee.Position.PositionNameAr)
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Employee.Position.PositionNameEn)
            }
            
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.RequestDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.RequestDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.VacationType
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.VacationType.Type)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Duration
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.Duration)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.StartDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.StartDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.EndDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.EndDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.ResumeDate
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.ResumeDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Address
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.Address)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-3">
            @Resources.NubiHR.Notes
        </label>
        <div class="col-md-6">
            @Html.DisplayFor(modelItem => Model.Note)
        </div>
    </div>
       <br />
       <div>
           <a href="@Url.Action("Index")" class="btn-Back" style="color:white; text-decoration: none;">@Resources.NubiHR.Back</a>
       </div>
</div>