@model IEnumerable<HRSystem.Models.VacationRequest>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "LeaderRequests";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
}

<h2>Leader Requests</h2>

<table id="assets-data-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Resources.NubiHR.EmployeeName
            </th>
            
            <th>
                @Resources.NubiHR.Position
            </th>
           
            <th>
                @Resources.NubiHR.RequestDate
            </th>
           
            <th>
                @Resources.NubiHR.VacationType
            </th>
            
            <th>
                @Resources.NubiHR.Note
            </th>

            <th>
                @Resources.NubiHR.Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(e => e.LeaderApprovement == null).ToList())
            {
            <tr>
                <td>
                    @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName
                </td>
                <td>
                    @helperx.GetUserRole(User.Identity.GetUserId())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.VacationType.Type)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @Html.ActionLink("Approve", "LeaderApprove", new { id = item.Id }) |
                    @Html.ActionLink("Reject", "Reject", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "VacationRequest", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>