@model IEnumerable<HRSystem.Models.VacationRequest>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManagerRequests";
    HRSystem.Manager.Helper helperx = new HRSystem.Manager.Helper();
}

<h2>Manager Requests</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            
            <th>
                Position
            </th>
           
            <th>
                Request Date
            </th>
            
            <th>
                Vacation Type
            </th>
            
            <th>
                Note
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(e => e.ManagerApprovement == false && e.LeaderApprovement == true && e.IsRejected == false).ToList())
            {
            <tr>
                <td>
                    @helperx.GetName(User.Identity.GetUserId()).Employee.FirstName
                </td>
               
                <td>
                    @helperx.GetUserRole(User.Identity.GetUserId())
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.VacationType.Type)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
               

                <td>
                    @Html.ActionLink("Approve", "ManagerApprove", new { id = item.Id }) |
                    @Html.ActionLink("Reject", "Reject", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "VacationRequest", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>