@using HRSystem.Models
@model HRSystem.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

  @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4"></div>

                        <div class="col-md-4" style="margin:12% 0px">

                            <form>
                                <img src="~/Content/image/nubi.png" alt="Login" class="d-block mx-auto img-fluid">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-container">
                                    <i class="fa fa-user icon"></i>
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "input-field", Value = "@nubi-ict.com" })
                                  
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                                </div>

                                <button type="submit" class="btn2">@Resources.NubiHR.ForgetPassword</button>

                               
                            </form>
                        </div>
                    </div>
                }
@using (Html.BeginForm("Login", "Account", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin:-10% 0px">

            <button type="submit" class="btn2">@Resources.NubiHR.Back</button>
            @*@Html.ActionLink(Resources.NubiHR.Back, "Login", new { id = item.Id})*@

        </div>
    </div>
}


@*<button type="submit" class="btn2" onclick="location.href = 'http://localhost:5744/'">@Resources.NubiHR.Back</button>*@

