@using HRSystem.Models
@model LoginViewModel
@{
    //Layout = "~/Views/Shared/_OtherLayout.cshtml";
    ViewBag.Title = Resources.NubiHR.Login;
}
   <style>
       .x {
           position: absolute;
           margin: auto;
           top: -50%;
           right: 0;
           bottom: 0;
           left: 0;
           height: 100px;
           border-radius: 3px;
       }
   </style>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-log", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4" style="margin:12% 0px">

                    <form>
                        <img src="~/Content/image/nubi.png" alt="Login" class="d-block mx-auto img-fluid">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-container">
                            <i class="fa fa-user icon"></i>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "input-field" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>


                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), @class = "input-field" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn2">@Resources.NubiHR.Login</button>

                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                        {
                                      @*<button type="submit" class="btn2">@Resources.NubiHR.ForgetPassword</button>*@
                                        @Html.ActionLink(Resources.NubiHR.ForgetPassword, "ForgotPassword"@*, new { id = item.Id}*@)

                        }
                      
                        @*<div class="text-center" style=" margin-top: 10px;">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> <a href="@Url.Action("Register", "Account")" class="newaccount">Create New account</a>
                    </div>*@

                    </form>
                </div>
            </div>
    }

    


                @*<div class="row">
                            <div class="col-md-8">
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                                        @Html.AntiForgeryToken()
                                        <h4>Use a local account to log in.</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Log in" class="btn btn-default" />
                                            </div>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Register as a new user", "Register")
                                        </p>
                                        @* Enable this once you have account confirmation enabled for password reset functionality
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>*@

                @*</section>
                    </div>*@
                @*<div class="col-md-4">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>*@
                @*</div>*@

            

            @*@Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")*@
 



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@