@model HRSystem.Models.RegisterViewModel
@{
    //Layout = null;
    ViewBag.Title = Resources.NubiHR.Register;
}
<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>*@
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <!--  jQuery -->
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    @*<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />*@
    <!-- Bootstrap Date-Picker Plugin -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>*@
</head>
<body>
    <div class="container body-content">




        @if (@TempData["check"] != null)
        {

            <div class="alert alert-danger">
                <strong> @TempData["check"] </strong>
            </div>


        }
        @if (@TempData["chec"] != null)
        {

            <div class="alert alert-danger">
                <strong> @TempData["chec"] </strong>
            </div>


        }
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Resources.NubiHR.Email
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Resources.NubiHR.Password
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Resources.NubiHR.ConfirmPassword
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-md-2 control-label">
                    Select Role
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("RoleNo", null, "Select", new { @class = "form-control" })
                </div>
            </div>*@
            @*<div class="form-group">
                <div class="col-md-2 control-label">
                    Select Job Title
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("JobTitleRoleNo", null, "Select", new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
        
        @*<footer>
            <p>&copy; @DateTime.Now.Year - Powered by Nubi IT Service</p>
        </footer>*@
    </div>

</body>
</html>




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@