@model HRSystem.Models.ResetPasswordViewModel
@{
    ViewBag.Title = Resources.NubiHR.ResetPassword;
    var email = ViewBag.Email;
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.Hidden("email")
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4" style="margin:81px 0px">

            <form>
                <img src="~/Content/image/nubi.png" alt="Login" class="d-block mx-auto img-fluid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "input-field" , Value = email, @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>


                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), @class = "input-field" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>


                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Html.DisplayNameFor(n => n.ConfirmPassword), @class = "input-field" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn2">@Resources.NubiHR.ResetPassword</button>

            </form>

            </div>
        </div>
        
            }

@using (Html.BeginForm("Login", "Account", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin:-6% 0px">

            <button type="submit" class="btn2">@Resources.NubiHR.Back</button>
            @*@Html.ActionLink(Resources.NubiHR.Back, "Login", new { id = item.Id})*@

        </div>
    </div>
}
