@model HRSystem.Models.VacationType
@{
    ViewBag.Title = "Create";
}

<h2>@Resources.NubiHR.Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <div class="form-group col-md-6">

        <div>
            @Resources.NubiHR.VacationType
        </div>
        <div>
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div>
            <a href="@Url.Action("VacationType","Index")" class="btn btn-default">@Resources.NubiHR.Back</a>

            <input type="submit" value=@Resources.NubiHR.Send class="btn btn-primary" />
        </div>
    </div>
}